<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

    <title>叫啥网</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link type="text/css" rel="stylesheet" href="/mobile/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/mobile/css/flexslider.css" />
    <link type="text/css" rel="stylesheet" href="/mobile/css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="/mobile/css/style.css" />
    <link rel="stylesheet" href="/mobile/css/ali/iconfont.css">

    <script type="text/javascript" src="/mobile/js/jquery.min.js"></script>
    <script type="text/javascript" src="/mobile/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/mobile/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/mobile/js/o-script.js"></script>

</head>
<body class="o-page">
<div id="page">
    <!-- Header -->
    <div id="header">
        <a href="#menu"><i class="fa fa-bars"></i> </a>
				<span id="Logo" class="svg">
					订单页
				</span>
        <a class="backBtn" href="/mobile.php"><i class="fa fa-home"></i></a>
    </div>
    <div class="subHeader"><i class="i-home i-small"></i>购物车</div>


    <!-- Content -->
    <div ng-show="totalPieces" class="ng-scope">
        <ul class="ui-block" observe-order="getRemoteList">
            <!-- ngRepeat: food in remoteList -->
            <foreach name="cartlist" item="cart">
        <li class="cart-dish ng-scope" ng-repeat="food in remoteList">
            <div class="cdish-detail" ng-click="showCtrls = !showCtrls">
                <span class="cdish-name ng-binding" ng-bind="food.name">{$cart[name]}</span>
                <span class="ui-multiple cdish-quantity ng-binding" ng-bind="food.quantity">{$cart[num]}</span>
                <span class="ui-rmb cdish-cost ng-binding" ng-bind="food.originPrice || food.price">{$cart[price]}</span>
                 <span><a href="javascript:;"  class="delcart" data-id="{$cart[name]}">删除</a> </span>
            </div>
            <div class="mdish-must-payonline ng-hide" ng-show="food.mustPayOnline">支持货到付款</div>
            <div class="cdish-control" ng-class="{'ui_show': showCtrls }">
                <div class="cdish-remove" data-food-price="15" data-count="0" data-food-id="4080294" data-food-name="双拼饭" data-food-refresh="1">
                    <svg class="eleme-svg svg-remove" viewBox="0 0 24 32">
                        <use xlink:href="#svg-remove"></use>
                    </svg>
                </div>
                <div class="cdish-edit">
                    <span class="decrease" data-food-price="15" data-count="-1" data-food-id="4080294" data-food-name="双拼饭" data-food-refresh="1">-</span>
                    <span class="increase" data-food-price="15" data-count="1" data-food-id="4080294" data-food-name="双拼饭" data-food-refresh="1">+</span>
                </div>
            </div>
        </li></foreach>
            <form class="logreg-form ng-scope ng-pristine ng-invalid ng-invalid-required" name="loginform" action="__GROUP__/cart/ordersuccess" method="post">
                <input type="hidden" name="area_select" value="1">
                <input type="hidden" name="beta" value="">
            <div class="ui-padding-block">
                <div class="input-group" >
                    <input class="ui-input ng-pristine ng-invalid ng-invalid-required ng-valid-minlength" type="text" name="louhao1"   placeholder="请填写详细送餐地址" required="" value="{$lastaddr}" ng-minlength="3"  >

                </div>
                <div class="input-group" >
                    <input class="ui-input ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" type="tel" name="mobile"  placeholder="请填写能够联系到您的手机号" required=""  >

                </div>
                <div class="input-group">
                    <input class="ui-input ng-pristine ng-valid" type="tel" name="name"  placeholder="联系人姓名">
                </div>

                <div class="input-group">
                    <select name="arrive">
                        <option value="">请选择送到时间</option>
                        <option value="06:00">6:00</option>
                        <option value="07:00">7:00</option>
                        <option value="08:00">8:00</option>
                        <option value="09:00">9:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                    </select>
                </div>
                
                <div class="input-group clear-margin">
                    <textarea class="ui-input ng-pristine ng-valid" name="order_remark" placeholder="备注"></textarea>
                </div>
            </div>
        </ul>
        
        <footer class="cart-footer">
            <p class="cart-summary">

                <span ng-bind="totalPieces" class="ng-binding">{$carttotle}</span> 份美食
                <span class="ui-rmb total-cost ng-binding" ng-bind="totalCost">{$cartprice}</span>
            </p>
            <if condition="$beginmoney neq 0">
            <p class="cart-summary">

                <span ng-bind="totalPieces" class="ng-binding"></span> 还差
                <span class="ui-rmb total-cost ng-binding" ng-bind="totalCost">{$beginmoney}</span> 起送
                <input type="button" class="ui-btn btn-confirm" id="goon" value="继续点餐">
            </p>
            <else />
            <input type="submit" class="ui-btn btn-confirm" value="确认美食">
            </if>
        </footer>
            </form>
    </div>



    <!-- Menu navigation -->
    <include file="Index:sidebar"/>
</div>
<script>
    $(function(){
        $(".add-cart").on("click",function(){
            $.ajax({
                method:"POST"

            }).success(function(d){

                    })
        });

      $(".delcart").on("click",function(e){
          $(this).parent().parent().parent().remove();
      })
        $("#goon").on("click",function(){
            location.href = "__GROUP__/shop/detail/{$shopid}";
        });
    })
</script>
</body>
</html>