<include file="Public:header"/>
<body class="o-page">
<div id="page">
    <!-- Header -->
    <div id="header">
        <a href="#menu"><i class="fa fa-bars"></i> </a>
				<span id="Logo" class="svg">
					{$shopinfo.shop_name}
				</span>
        <a class="backBtn" href="/mobile.php"><i class="fa fa-home"></i></a>
    </div>
    <div class="subHeader">
    <div class="list_tab">
            <a href="javascript:void(0)" class="tab2"  id="popupDialog-type">全部分类</a>
        <a href="javascript:void(0)" class="tab3"  id="popupDialog-detail" data-diancan="1">店铺详情</a>
        </div>
    </div>

    <div id="page1">
    <div class="bannerPane">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">

                    <foreach name="foodlist" item="food">
                        <if condition="$food.food_image">
                    <li>
                        <img src="/upload/{$food.food_image}" />
                    </li>
                       <else />
                        </if>
                    </foreach>
                </ul>
            </div>
        </section>
    </div>

    <!-- Content -->
    <foreach name="foodlist" item="food">
    <div class="menu-dish ng-scope" ng-repeat="food in foods">
        <div class="mdish-info">
            <p class="mdish-name ng-binding" ng-bind="food.name">{$food.food_name}</p>
            <p class="mdish-misc">
                <span class="state_bg1"></span>
                <!-- ngIf: food.sales > 0 --><span class="mdish-sales ng-scope" ng-if="food.sales > 0">月售<strong class="quantity ng-binding" ng-bind="food.sales">{$food.food_number}</strong>份</span><!-- end ngIf: food.sales > 0 -->
            </p>
            <!-- ngIf: food.description -->
            <!-- ngIf: food.attributes.length > 0 || menu.isActivity --><div class="mdish-badges ng-scope" ng-if="food.attributes.length > 0 || menu.isActivity">
            <!-- ngRepeat: attr in food.attributes -->
            <!-- ngIf: menu.isActivity && menu.imageText -->
        </div><!-- end ngIf: food.attributes.length > 0 || menu.isActivity -->
        </div>
        <div class="mdish-status" ng-hide="!(restaurant.status === 1 || restaurant.status === 5) || food.stock === 0">
            <div class="mdish-controls">
                <div class="mdish-minus" role="button" data-foodid="{$food.id}">
                    -
                </svg>
                </div>
                <div class="mdish-ordered ng-isolate-scope" data-num="0"> 0</div>
                <div class="add-cart mdish-price ui-rmb ng-binding" parabola="" role="button" data-foodname="{$food.food_name}" data-price="{$food.food_price}" data-foodimg="{$food.food_image}"  data-foodid="{$food.id}">{$food.food_price}</div>
            </div>
            <!-- ngIf: food.originPrice -->
            <!-- ngIf: menu.mustPayOnline -->
        </div>

    </div>
    </foreach>
    </div>
    <div id="page2" style="display: none">
        <div style="padding: 5px">
        <div class="d_head" style="height: 50px;padding: 2px 10px 2px 10px">
            <div style="width: 70%;float: left">
                <img src="/upload/{$shopinfo.shop_image}" width="50" height="50" style="float: left">
                <p style="width: 70%; float: right;font-size: 20px;">{$shopinfo.shop_name}</p>
            </div>
            <div style="width: 20%; float: right">
                <a href="tel:{$shopinfo.shop_phone}" class="mdish-price" style="font-size: 27px;color: #fff;"><i class="iconfont">&#xf0057</i> </a>
            </div>

        </div>
        <div class="d_head_2">
        <li>
            <p class="strong">4</p>
            <p>起送价/元</p>
        </li>
        <li>
            <p class="strong">4</p>
            <p>配送费/元</p>
        </li>
    </div>
        </div>
        <div style="padding: 5px">
        <div style="padding: 0 10px;background-color: #FFFFFF;color: #000;height: 100%;font-size: 1.5rem;">
            {$shopinfo.shop_description|nl2br}
        </div>
        </div>
    </div>

    <a class="menu-cart ng-scope" href="/mobile.php/cart/cart"  >
        <div class="mcart-checkout"  >去结算</div>
    </a>
     <a class="menu-cart ng-scope"  id="favshop" style="margin-left: 60%;">
        <div class="mcart-checkout"  ><i class="fa fa-star" style="font-size: 1rem;"></i>收藏本店</div>
    </a>
    <!-- Menu navigation -->
    <include file="Index:sidebar"/>
</div>

<div data-role="popup" id="popupDialog-screen-type" style="display:none;">
    <div class="pop-list"  id="pop_list_types">
        <div class="title">
            <h2>选择分类</h2>
            <a href="javascript:;" id="c3" class="close">关闭</a>
        </div>
        <div class="content">
            <ul class="panel_sb">
                
                <li class="sbon" onclick="settypes(0)">
                    <div class="txt" >全部</div></li>
<foreach name="typelist" item="type">
                <li class="" onclick="settypes({$type.id})">

                    <div class="txt">{$type.type_name}</div></li>
</foreach>


            </ul>
        </div>
    </div>
</div>




<div class="cbox-post-wap cbox-post-b">
    <div class="post-area-wap post-area-b">
        <textarea name="cy-cbox" rows="3" class="area-text-wap area-text-b" placeholder="我来说两句..."></textarea>
        <input type="hidden" name="cyan-reply-id">
    </div>
    <div><input class="mdish-price" value="发布留言"></div>
</div>







    <script>
    $(function(){
        $(".mdish-minus").on("click",function(){
            var _self=this;

            var numNode=$(".mdish-ordered",$(_self).parent());
            var num=parseInt($(numNode).data("num"),10);
            var foodid = $(_self).data("foodid");
            var _data = {
                "id": foodid
            }
            if(num==0){

            }
            else{
                $(numNode).data("num",num-1);
                $(numNode).html(num-1);
                $.post("/mobile.php/cart/dec", _data).success(function(d){
                    
                    })
            }

        })
        $(".add-cart").on("click",function(){
           var _self=this;

            var numNode=$(".mdish-ordered",$(_self).parent());
            var num=parseInt($(numNode).data("num"),10);
            $(numNode).data("num",num+1);
            $(numNode).html(num+1);

            var _data = {
                "id": $(_self).data("foodid"),
                 "food_name": $(_self).data("foodname"),
                "food_price": $(_self).data("price"),
                "food_image": $(_self).data("foodimg")
            }
            $.post("/mobile.php/cart/add", _data).success(function(d){
                    
                    })
        });
        
        $("#favshop").on("click",function(){
           var _self=this;
            $.get("/mobile.php/fav/{$shopid}").success(function(d){
                    alert(d);
                    })
        });
        $("#popupDialog-detail").on("click",function(){

            if($("#popupDialog-detail").data("diancan")==1){
                $("#page2").show();
                $("#page1").hide();
                $("#popupDialog-detail").html("返回点餐");
                $("#popupDialog-detail").data("diancan","0") ;
            }
                else{
                    $("#page1").show();
                    $("#page2").hide();
                    $("#popupDialog-detail").html("店铺详情");
                    $("#popupDialog-detail").data("diancan","1");
                }



        })
    })
</script>
 <script>

$(document).ready(function() {


$("#popupDialog-type").click(function(){
$.tipsWindow({
___content:"id:popupDialog-screen-type",
//___width:"600",
//___height:"300",
___drag:"___boxTitle",
___closeID:"c3",
___showbg:true
})

});


})

</script>
</body>
</html>