<include file="Public:header"/>
<body class="o-page">
<div id="page">
    <!-- Header -->
    <div id="header">
        <a href="#menu"><i class="fa fa-bars"></i> </a>
				<span id="Logo" class="svg">
					{$shopinfo.shop_name}
				</span>
        <a class="backBtn" href="/mobile.php"><i class="fa fa-home"></i></a>
    </div>
    <div class="subHeader">
    <div class="list_tab">
            <a href="javascript:void(0)" class="tab2"  id="popupDialog-type">全部分类</a>
        <a href="javascript:void(0)" class="tab3"  id="popupDialog-detail" data-diancan="1">店铺详情</a>
        </div>
    </div>

    <div id="page1">
    <div class="bannerPane">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">

                    <foreach name="foodlist" item="food">
                        <if condition="$food.food_image">
                    <li>
                        <img src="/upload/{$food.food_image}" />
                    </li>
                       <else />
                        </if>
                    </foreach>
                </ul>
            </div>
        </section>
    </div>

    <!-- Content -->
    <foreach name="foodlist" item="food">
    <div class="menu-dish ng-scope" ng-repeat="food in foods">
        <div class="mdish-info">
            <p class="mdish-name ng-binding" ng-bind="food.name">{$food.food_name}</p>
            <p class="mdish-misc">
                <span class="state_bg1"></span>
                <!-- ngIf: food.sales > 0 --><span class="mdish-sales ng-scope" ng-if="food.sales > 0">月售<strong class="quantity ng-binding" ng-bind="food.sales">{$food.food_number}</strong>份</span><!-- end ngIf: food.sales > 0 -->
            </p>
            <!-- ngIf: food.description -->
            <!-- ngIf: food.attributes.length > 0 || menu.isActivity --><div class="mdish-badges ng-scope" ng-if="food.attributes.length > 0 || menu.isActivity">
            <!-- ngRepeat: attr in food.attributes -->
            <!-- ngIf: menu.isActivity && menu.imageText -->
        </div><!-- end ngIf: food.attributes.length > 0 || menu.isActivity -->
        </div>
        <div class="mdish-status" ng-hide="!(restaurant.status === 1 || restaurant.status === 5) || food.stock === 0">
            <div class="mdish-controls">
                <div class="mdish-minus" role="button" data-foodid="{$food.id}">
                    -
                </svg>
                </div>
                <div class="mdish-ordered ng-isolate-scope" data-num="0"> 0</div>
                <div class="add-cart mdish-price ui-rmb ng-binding" parabola="" role="button" data-foodname="{$food.food_name}" data-price="{$food.food_price}" data-foodimg="{$food.food_image}"  data-foodid="{$food.id}">{$food.food_price}</div>
            </div>
            <!-- ngIf: food.originPrice -->
            <!-- ngIf: menu.mustPayOnline -->
        </div>

    </div>
    </foreach>
    </div>
    <div id="page2" style="display: none">
        <div style="padding: 0 10px;
background-color: #FFFFFF;
color: #000;
height: 100%;
font-size: 1.5rem;">{$shopinfo.shop_description|nl2br}</div>
    </div>

    <a class="menu-cart ng-scope" href="/mobile.php/cart/cart"  >
        <div class="mcart-checkout"  >去结算</div>
    </a>
     <a class="menu-cart ng-scope"  id="favshop" style="margin-left: 60%;">
        <div class="mcart-checkout"  ><i class="fa fa-star" style="font-size: 1rem;"></i>收藏本店</div>
    </a>
    <!-- Menu navigation -->
    <include file="Index:sidebar"/>
</div>

<div data-role="popup" id="popupDialog-screen-type" style="display:none;">
    <div class="pop-list"  id="pop_list_types">
        <div class="title">
            <h2>选择分类</h2>
            <a href="javascript:;" id="c3" class="close">关闭</a>
        </div>
        <div class="content">
            <ul class="panel_sb">
                
                <li class="sbon" onclick="settypes(0)">
                    <div class="txt" >全部</div></li>
<foreach name="typelist" item="type">
                <li class="" onclick="settypes({$type.id})">

                    <div class="txt">{$type.type_name}</div></li>
</foreach>


            </ul>
        </div>
    </div>
</div>




<div class="cbox-post-wap cbox-post-b">
    <div class="post-area-wap post-area-b">
        <textarea name="cy-cbox" rows="3" class="area-text-wap area-text-b" placeholder="我来说两句..."></textarea>
        <input type="hidden" name="cyan-reply-id">
    </div>
    <div class="post-action-wap post-action-b">
        <div class="action-function-wap action-function-b">
            <ul class="function-list-wap function-list-b">

                <li class="list-face-wap list-face-b">
                    <a class="face-mutual-wap face-mutual-b" href="javascript:void(0)">
                        <i class="mutual-pic-wap mutual-pic-b"></i>
                    </a>
                </li>


                <li class="list-upload-wap list-upload-b">
                    <a class="upload-mutual-wap upload-mutual-b" href="#"><i class="mutual-pic-wap mutual-pic-b"></i></a><div class="upload-file-wap"><input type="file" name="" class="file-wap" onsubmit="return false;" accept="image/jpeg, image/gif, image/bmp, image/jp2, image/x-ms-bmp, image/x-png"></div>
                    <input name="cy-img-url" type="hidden">
                </li>
                <li class="list-upload-img-wap list-upload-img-b list-uploading-wap" style="display:none">
                    <div class="uploading-wrap-wap"><span class="wrap-icon-wap wrap-icon-b"></span></div>
                    <div class="uploaddel-wrap-wap"><span class="wrap-img-wap wrap-img-b"><img alt=""></span>
                        <span class="wrap-close-wap"></span></div>
                </li>


            </ul>
        </div>
        <div class="action-issue-wap action-issue-b">
            <div class="issue-site-wap issue-site-b issue-site-e"></div>
            <div class="issue-btn-wap issue-btn-b">
                <a class="btn-mutual-wap btn-mutual-b" href="javascript:void(0)"><button type="button" class="mutual-btn-wap mutual-btn-b"></button></a>
            </div>
        </div>
        <div class="face-box-wap" style="display:none">
            <div class="box-cont-wap">
                <div class="cont-roll-wap">
                    <ul class="cont-list-wap">
                        <li code="/奋斗"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face01.png"></li>
                        <li code="/鼓掌"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face02.png"></li>
                        <li code="/发怒"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face03.png"></li>
                        <li code="/色"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face04.png"></li>
                        <li code="/给力"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face05.png"></li>
                        <li code="/憨笑"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face06.png"></li>
                        <li code="/大哭"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face13.png"></li>
                        <li code="/疑问"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face14.png"></li>
                        <li code="/鄙视"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face15.png"></li>
                        <li code="/钱"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face16.png"></li>
                        <li code="/闭嘴"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face17.png"></li>
                        <li code="/可怜"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face18.png"></li>
                        <li code="/可爱"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face07.png"></li>
                        <li code="/抓狂"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face08.png"></li>
                        <li code="/流汗"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face09.png"></li>
                        <li code="/强"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face10.png"></li>
                        <li code="/弱"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face11.png"></li>
                        <li code="/玫瑰"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face12.png"></li>
                        <li code="/惊讶"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face19.png"></li>
                        <li code="/浮云"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face20.png"></li>
                        <li code="/打酱油"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face21.png"></li>
                        <li code="/握手"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face22.png"></li>
                        <li code="/拳头"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face23.png"></li>
                        <li code="/酒"><img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face24.png"></li>
                    </ul>
                </div>
                <div class="cont-page-wap"><span class="page-now-wap"></span><span></span></div>
            </div>
        </div>
    </div>
</div>







    <script>
    $(function(){
        $(".mdish-minus").on("click",function(){
            var _self=this;

            var numNode=$(".mdish-ordered",$(_self).parent());
            var num=parseInt($(numNode).data("num"),10);
            var foodid = $(_self).data("foodid");
            var _data = {
                "id": foodid
            }
            if(num==0){

            }
            else{
                $(numNode).data("num",num-1);
                $(numNode).html(num-1);
                $.post("/mobile.php/cart/dec", _data).success(function(d){
                    
                    })
            }

        })
        $(".add-cart").on("click",function(){
           var _self=this;

            var numNode=$(".mdish-ordered",$(_self).parent());
            var num=parseInt($(numNode).data("num"),10);
            $(numNode).data("num",num+1);
            $(numNode).html(num+1);

            var _data = {
                "id": $(_self).data("foodid"),
                 "food_name": $(_self).data("foodname"),
                "food_price": $(_self).data("price"),
                "food_image": $(_self).data("foodimg")
            }
            $.post("/mobile.php/cart/add", _data).success(function(d){
                    
                    })
        });
        
        $("#favshop").on("click",function(){
           var _self=this;
            $.get("/mobile.php/fav/{$shopid}").success(function(d){
                    alert(d);
                    })
        });
        $("#popupDialog-detail").on("click",function(){

            if($("#popupDialog-detail").data("diancan")==1){
                $("#page2").show();
                $("#page1").hide();
                $("#popupDialog-detail").html("返回点餐");
                $("#popupDialog-detail").data("diancan","0") ;
            }
                else{
                    $("#page1").show();
                    $("#page2").hide();
                    $("#popupDialog-detail").html("店铺详情");
                    $("#popupDialog-detail").data("diancan","1");
                }



        })
    })
</script>
 <script>

$(document).ready(function() {


$("#popupDialog-type").click(function(){
$.tipsWindow({
___content:"id:popupDialog-screen-type",
//___width:"600",
//___height:"300",
___drag:"___boxTitle",
___closeID:"c3",
___showbg:true
})

});


})

</script>
</body>
</html>