
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shequ:before { content: "\f02a4"; }

.icon-shouye:before { content: "\f012b"; }

.icon-yonghu:before { content: "\f012d"; }

.icon-tuichu:before { content: "\f017c"; }

.icon-dingdan:before { content: "\f01be"; }

.icon-shoucang:before { content: "\f0290"; }

.icon-wangluo:before { content: "\f00b9"; }

.icon-gengxin:before { content: "\f017b"; }

.icon-xinshoushanglu:before { content: "\f0031"; }

.icon-dianhuaji:before { content: "\f0057"; }

.icon-tianjiashangjia:before { content: "\f00d8"; }

