<include file="Public:header"/>
<body class="o-page">
<div id="page">
    <!-- Header -->
    <div id="header">
        <a href="#menu"><i class="fa fa-bars"></i> </a>
				<span id="Logo" class="svg">
					叫啥网
				</span>
        <a class="backBtn" href="/mobile.php">[大连市] </a>
    </div>
    <div class="subHeader">

        <div class="list_tab"><!--<div class="list_tab fixed"> -->
            <!--a href="javascript:void(0)" class="tab1"  id="popupDialog">全国</a-->
            <a href="javascript:void(0)" class="tab2"  id="popupDialog-type">全部分类</a>
            <a href="javascript:void(0)" class="tab3" id="popupDialog-time">默认排序</a>
        </div>


    </div>

    <div class="geo-rst-list">
        <foreach name="commonshop" item="shop">
    <a class="grst-block ng-scope" href="__GROUP__/shop/detail/{$shop.user_id}">
        <img class="grst-logo" width="42" height="42" ng-src="/images/nopic.png" alt="{$shop.shop_name}" src="/upload/{$shop.shop_image}">
        <div class="grst-detail">
            <div class="grst-name">
                <span ng-bind="restaurant.name" class="ng-binding">{$shop.shop_name}</span>
<!--                 ngRepeat: icon in restaurant.icons.attributes <span class="rst-badge-large ng-binding ng-scope" ng-repeat="icon in restaurant.icons.attributes" ng-bind="icon.icon_name" style="background: #82782F;" title="该餐厅支持立减优惠，每单满40元立减6元">减</span> end ngRepeat: icon in restaurant.icons.attributes -->
            </div>
            <!-- ngIf: restaurant.status == 1 -->
            <!-- ngIf: restaurant.status == 1 -->
            <!-- ngIf: restaurant.status !== 1 --><div class="grst-status ng-scope" ng-if="restaurant.status !== 1">
            <!-- ngIf: restaurant.is_now_book_only --><span class="bookable ng-scope" ng-if="restaurant.is_now_book_only"><if condition="$shop.is_working eq '1'">接受订餐<else />休息中</if></span><!-- end ngIf: restaurant.is_now_book_only -->
            <!-- ngIf: !restaurant.is_now_book_only -->
        </div><!-- end ngIf: restaurant.status !== 1 -->
            <div class="grst-misc">
                <!-- ngIf: restaurant.month_sales --><span ng-if="restaurant.month_sales" ng-bind="'月售 ' + restaurant.month_sales + ' 单 / '" class="ng-binding ng-scope">月售 {$shop.order_number} 单 / </span><!-- end ngIf: restaurant.month_sales -->
                <span ng-bind="restaurant.deliver_amount + ' 元起送'" class="ng-binding">{$shop.shop_deliver_beginmoney}元起送</span>
                <!-- ngIf: !restaurant.is_now_book_only && restaurant.deliver_time -->
                <!-- ngIf: restaurant.is_now_book_only --><span ng-if="restaurant.is_now_book_only" ng-bind="' / ' + restaurant.open_time + ' 开始送餐'" class="ng-binding ng-scope"> / {$shop.shop_beginworktime}-{$shop.shop_endworktime} 送餐时间</span><!-- end ngIf: restaurant.is_now_book_only -->
            </div>
<!--             ngIf: restaurant.icons.activities <div class="grst-activity ng-scope" ng-if="restaurant.icons.activities">
             ngRepeat: icon in restaurant.icons.activities <p class="grst-activity-detail ng-scope" ng-repeat="icon in restaurant.icons.activities">
            <span class="rst-badge ng-binding" ng-bind="icon.icon_name" style="background: #D0DCC4;">雪</span>
            <span ng-bind="icon.name" title="大连赠600ml雪碧" class="ng-binding">大连赠600ml雪碧</span>
        </p> end ngRepeat: icon in restaurant.icons.activities 
        </div> end ngIf: restaurant.icons.activities -->
        </div>
    </a>
       </foreach>
        </div>
    <!-- Content -->


    <!-- Menu navigation -->
    <include file="Index:sidebar"/>
</div>
<div data-role="popup" id="popupDialog-screen-type" style="display:none;">
    <div class="pop-list"  id="pop_list_types">
        <div class="title">
            <h2>选择分类</h2>
            <a href="javascript:;" id="c3" class="close">关闭</a>
        </div>
        <div class="content">
            <ul class="panel_sb">
                
                <li class="sbon" onclick="settypes(0)">
                    <div class="txt" >全部</div></li>
<foreach name="typelist" item="type">
                <li class="" onclick="settypes({$type.id})">

                    <div class="txt">{$type.type_name}</div></li>
</foreach>


            </ul>
        </div>
    </div>
</div>



<div data-role="popup" id="popupDialog-screen-time" style="display:none;">
    <div class="pop-list"  id="pop_list_times">
        <div class="title">
            <h2>默认排序</h2>
            <a href="javascript:;" id="c4" class="close">关闭</a>
        </div>
        <div class="content">
            <ul class="panel_sb">
                <li class="sbon" onclick="settimes(1)">
                    <div class="txt">起送价低到高</div></li>

                <li class=""  onclick="settimes(2)">

                    <div class="txt">评价高到低</div></li>

                <li class=""  onclick="settimes(3)">

                    <div class="txt">销量高到低</div></li>

            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">



    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
        if(this.getStatus() == BMAP_STATUS_SUCCESS){

            var myGeo = new BMap.Geocoder();
            myGeo.getLocation(r.point, function(rs){ //这里弹出“知春路”的详细地址信息，第二步getLocation是反地址解析。
                var addComp = rs.addressComponents;

                $(".backBtn").html("["+addComp.street + ", " + addComp.streetNumber+"]");
            });

        }
        else {

        }
    },{enableHighAccuracy: true})
    //关于状态码
    //BMAP_STATUS_SUCCESS	检索成功。对应数值“0”。
    //BMAP_STATUS_CITY_LIST	城市列表。对应数值“1”。
    //BMAP_STATUS_UNKNOWN_LOCATION	位置结果未知。对应数值“2”。
    //BMAP_STATUS_UNKNOWN_ROUTE	导航结果未知。对应数值“3”。
    //BMAP_STATUS_INVALID_KEY	非法密钥。对应数值“4”。
    //BMAP_STATUS_INVALID_REQUEST	非法请求。对应数值“5”。
    //BMAP_STATUS_PERMISSION_DENIED	没有权限。对应数值“6”。(自 1.1 新增)
    //BMAP_STATUS_SERVICE_UNAVAILABLE	服务不可用。对应数值“7”。(自 1.1 新增)
    //BMAP_STATUS_TIMEOUT	超时。对应数值“8”。(自 1.1 新增)
</script>
<script>

$(document).ready(function() {


$("#popupDialog-type").click(function(){
$.tipsWindow({
___content:"id:popupDialog-screen-type",
//___width:"600",
//___height:"300",
___drag:"___boxTitle",
___closeID:"c3",
___showbg:true
})

});


$("#popupDialog-time").click(function(){
$.tipsWindow({
___content:"id:popupDialog-screen-time",
//___width:"600",
//___height:"300",
___drag:"___boxTitle",
___closeID:"c4",
___showbg:true
})

});

})

</script>

</body>
</html>