<include file="Public:header"/>
<body class="o-page">
<div id="page">
    <!-- Header -->
    <div id="header">
        <a href="#menu"><i class="fa fa-bars"></i> </a>
				<span id="Logo" class="svg">
					叫啥网
				</span>
        <a class="backBtn" href="javascript:history.back();"><i class="fa fa-home"></i></a>
    </div>
    <div class="subHeader"><i class="i-home i-small"></i>注册</div>


    <form class="logreg-form ng-scope ng-pristine ng-invalid ng-invalid-required" autocomplete="off" name="regform" action="__GROUP__/index/adduser" method="post">
        <div class="logreg-inputs">
            <div class="input-group" ng-class="{ 'ui_error': regform.username.$invalid &amp;&amp; regform.username.$dirty &amp;&amp; invalidusername}">
                <input class="ui-input ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength" type="text" placeholder="手机号" name="user_id" required="">
            </div>
            <div class="input-group" ng-class="{ 'ui_error': regform.username.$invalid &amp;&amp; regform.username.$dirty &amp;&amp; invalidusername}">
                <input class="ui-input ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength" type="text" placeholder="姓名" name="people_name">
            </div>
            <div class="input-group" ng-class="{ 'ui_error': regform.password.$invalid &amp;&amp; regform.password.$dirty &amp;&amp; invalidpassword }">
                <input class="ui-input ng-pristine ng-invalid ng-invalid-required ng-valid-minlength" type="password" name="user_pw1" placeholder="请输入密码" ng-minlength="6" ng-model="user.password" required="" ng-blur="message('password')" ng-keyup="passwordCheck()">
            </div>
            <div class="input-group" ng-class="{ 'ui_error': regform.repeat.$dirty &amp;&amp; (invalidrepeat || pwnotmatch)}">
                <input class="ui-input ng-pristine ng-invalid ng-invalid-required" type="password" name="user_pw2" placeholder="请再次输入密码" ng-model="user.repeat" required="" ng-blur="passwordCheck()">
            </div>
            <div class="input-group" ng-class="{ 'ui_error': regform.repeat.$dirty &amp;&amp; (invalidrepeat || pwnotmatch)}">
                <input class="ui-input ng-pristine ng-invalid ng-invalid-required" type="text" name="people_email" placeholder="联系邮箱" ng-model="user.repeat" ng-blur="passwordCheck()">
            </div>
            <div class="input-group" ng-class="{ 'ui_error': regform.repeat.$dirty &amp;&amp; (invalidrepeat || pwnotmatch)}">
                <input class="ui-input ng-pristine ng-invalid ng-invalid-required" type="text" name="people_addr" placeholder="收货地址" ng-model="user.repeat" required="" ng-blur="passwordCheck()">
            </div>
            <div class="input-group" ng-class="{ 'ui_error': regform.repeat.$dirty &amp;&amp; (invalidrepeat || pwnotmatch)}">
                <input class="ui-input ng-pristine ng-invalid ng-invalid-required" type="text" name="people_invite" placeholder="邀请码" ng-model="user.repeat" ng-blur="passwordCheck()">
            </div>
        </div>
        <button class="ui-btn logreg-btn" type="submit"  >同意协议并注册</button>

    </form>



    <!-- Menu navigation -->
    <include file="Index:sidebar"/>
</div>

</body>
</html>